@{
    ViewData["Title"] = "The Process Behind";
}


<section id="" class="cd-container-narrow">
    <div class="heading">The Process Behind</div>
    <div class="p-block">
        <p class="paragraph">The process behind is an educational initiative to find out more about the complex supply chains of every day products. It is a tool that could allow you to see where you would best fit into the picture and what career path you would like to pursue as a student.</p>
        <p class="paragraph">For this topic we will be focusing on the process behind creating a sandwhich. This video gives you a rough idea of all of the processes behind creating a sandwhich from scratch. You could see where you would like to fit into this picture.</p>
    </div>
    <div style="text-align:center; padding-bottom: 30px;">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/URvWSsAgtJE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step One</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Grow A Garden - (Agriculture)
                </span>

            </div>
            <p>There are a few things that you could get started with in this stage of the product Development.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Farming</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Argricultural Consultant</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Estates manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Farm Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Plant Breeder</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Rural Practice Surveyer</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Soil Scientist</li></a>

            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- Start of block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step Two</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Packaging
                </span>

            </div>
            <p>There are a few career fields in which you may get involved with within the packaging industry.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Farming</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Argricultural Consultant</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Estates manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Farm Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Plant Breeder</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Rural Practice Surveyer</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Soil Scientist</li></a>

            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- End of block. -->
    <!-- Start of block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step Three</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Logistics
                </span>

            </div>
            <p>There are a few career fields in which you may get involved with within the logistics industry.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Coordinator</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Warehouse Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Planner</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Distribution Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Routing Clerk</li></a>


            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- End of block. -->
    <!-- Start of block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step Four</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Supply Chain Management
                </span>

            </div>
            <p>There are a few career fields in which you may get involved within the supply-chain-management industry.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Coordinator</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Warehouse Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Planner</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Distribution Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Routing Clerk</li></a>


            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- End of block. -->
    <!-- Start of block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step Five</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Marketing
                </span>

            </div>
            <p>There are a few career fields in which you may get involved within the supply-chain-management industry.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Coordinator</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Warehouse Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Planner</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Distribution Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Routing Clerk</li></a>


            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- End of block. -->
    <!-- Start of block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Step Six</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fas fa-certificate" aria-hidden="true"></i>
                    Sales.
                </span>

            </div>
            <p>There are a few career fields in which you may get involved within the supply-chain-management industry.</p>
            <ul class="content-skills">
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Coordinator</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Logistics Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Warehouse Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Transport Planner</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Distribution Manager</li></a>
                <a href="http://www.mergemedia.co.za" target="_blank"><li>Routing Clerk</li></a>


            </ul>
            <div class="small">Click on the tags to open a link with more info.</div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <!-- End of block. -->







</section> <!-- cd-timeline -->

<section id="" class="cd-container-narrow">
    <div style="text-align: center; padding-bottom:10px;" class="blue">Developed and Designed By <a class="blue" href="https://www.mergemedia.co.za">Merge Media.</a> &copy; All Rights Reserved.</div>
</section>

